# OS & Editor
.DS_Store
Thumbs.db
.vscode/

# Env & secrets
.env*

# build output
**/bin/
**/obj/

# Logs & temp
*.log
tmp/

# Terraform sensitive state and var files
*.tfstate
*.tfstate.backup
.terraform/
tfplan
terraform.tfvars
.terraform.lock.hcl
